<mat-card class="container">
  <mat-card-title>
    <div class="div-mat-card-title">
      <div class="mr-auto">Usuários</div>
      <button mat-raised-button (click)="toUserCreate()" color=primary>
        Novo Usuário
      </button>
    </div>
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input class="input-filter" matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>

    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">

          <div class="div-actions">
            <a routerLink="/home/user/update/{{ element.id }}" title="Editar">
              <mat-icon>edit</mat-icon>
            </a>
            <a class="red" (click)="confirmDelete(element.id)" title="Desativar">
              <mat-icon class="pointer">delete</mat-icon>
            </a>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>