table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.div-mat-card-title {
  display: flex;
}

.mr-auto {
  margin-right: auto;
}

.div-actions{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

a {
  color: #28629B;
  text-decoration: none;
}

.red {
  color: red;
}

a mat-icon {
  margin: 0 10px;
}

.pointer {
  cursor: pointer;
}

.block {
  display: block;
}

th.mat-sort-header-sorted {
  color: black;
}

