<mat-toolbar class="menu mat-elevation-z2">
    <mat-toolbar-row>
        <div class="menu-title">
            <a routerLink="/">
                <img class="logo" src="assets/img/iatec_sched.png" alt="Logo Iatec Sched">
                <span class="title-group v-middle">
                    Agenda de Eventos
                </span>
            </a>
        </div>
        <div class="menu-options">
            <span class="v-midlle">Olá {{ getNameLogin() }}</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <a mat-menu-item routerLink="/home/user/update/{{ getIdLogin() }}">
                    <mat-icon >settings</mat-icon>
                    <span>Perfil</span>
                </a>
                <a mat-menu-item routerLink="/home/user/create">
                    <mat-icon>fiber_new</mat-icon>
                    <span>Novo Usuário</span>
                </a>
                <a mat-menu-item class="red" (click)="logout()">
                    <mat-icon color="accent">exit_to_app</mat-icon>
                    <span>Sair</span>
                </a>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>