table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    /* display: flex; */
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.table-container {
    height: 100%;
    overflow: auto;
}

.div-mat-card-title {
    display: flex;
}

.mr-auto {
    margin-right: auto;
}

table tr td {
    width: 100%;
}

mat-grid-tile {
    background: lightblue;
    overflow: auto;
    /* height: calc(100% - 0px); */
}

/* .container {
    width: 99%;
    padding: 5px;
} */

.nowrap {
    white-space: nowrap;
}

.grid {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.grid-item {
    flex: 1;
    margin: 5px;
}

mat-form-field {
    width: 100%;
}

.mat-card-title-events {
    margin-bottom: 5px;
}

.v-middle {
    vertical-align: middle;
    margin-right: 10px;
}

.sub-title {
    font-size: 1.2rem;
}

.pointer {
    cursor: pointer;
}

.div-actions {
    margin-left: 20px;
}

.div-actions mat-icon {
    margin: 0 10px;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-1{
    flex: 1;
}