<mat-card class="container">
    <mat-card-title>
        <div class="div-mat-card-title">
            <div class="sub-title">
                <mat-icon class="v-middle">lock</mat-icon>Exclusivos
            </div>
        </div>
    </mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input class="input-filter" matInput (keyup)="applyFilteShared($event)"
                placeholder="Ao filtrar pela data use ano-mes-dia. Ex: 2020-05-25">
        </mat-form-field>
        <div class="table-container">
            <table matSort mat-table multiTemplateDataRows [dataSource]="dataSourceShared" class="mat-elevation-z8"
                matSortActive="date" matSortDirection="asc" matSortDisableClear>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Evento                       
                    </th>
                    <td mat-cell *matCellDef="let element"
                        (click)="expandedElement = expandedElement === element ? null : element"
                        (click)="arrow = arrow === element ? null : element">
                        <mat-icon class="v-middle pointer">
                            <!-- {{arrow ? '' : 'keyboard_arrow_up'}}    -->
                            {{arrow === element ? 'expand_less' : 'expand_more'}}
                        </mat-icon>
                        {{element.name}}
                        

                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Data</th>
                    <td class="nowrap v-middle" mat-cell *matCellDef="let element"
                        (click)="expandedElement = expandedElement === element ? null : element"
                        (click)="arrow = arrow === element ? null : element">
                        {{element.date | date: "dd/MM/yyyy"}}
                        <div *ngIf="eventExpiration(element.date) == true; then ok"></div>
                        <ng-template #ok>
                            <mat-icon class="small v-middle cursor" title="É hoje!">today</mat-icon>
                        </ng-template>



                        <!-- <div *ngIf="eventExpiration(element.date); then 'exp'">
                            <ng-template #exp>OK</ng-template>
                        </div> -->

                    </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="(displayedColumnsShared.length + 1)">
                        <div class="example-element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="example-element-description">
                                <div class="flex">
                                    <div class="flex-1">
                                        <strong>ID: </strong>{{ element.id }}
                                    </div>
                                    <div class="flex-1">
                                        <mat-slide-toggle color="primary" [checked]="slideIGo"
                                            [(ngModel)]="getIdLogin() == element.userId"
                                            (change)="confirmIGo(element.id, $event)">
                                        </mat-slide-toggle>
                                        <div>
                                            <span class="v-middle">Eu vou</span>
                                        </div>
                                    </div>
                                    <div class="flex-1 flex-end pointer">
                                        <a mat-raised-button color color="primary">
                                            <small>
                                                <mat-icon class="mr-10 pointer v-middle"
                                                    title="Adicionar usuários a este evento">
                                                    group_add
                                                </mat-icon>
                                                <span>Convidar amigos</span>
                                            </small>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <strong>Local: </strong>{{element.local}}
                                </div>
                                <div>
                                    <strong>Descrição: </strong>{{element.description}}
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" class="nowrap">

                        <div class="div-actions">
                            <a routerLink="/home/event/update/{{ element.id }}" title="Editar">
                                <mat-icon>edit</mat-icon>
                            </a>
                            <a class="red" (click)="confirmDelete(element.id)" title="Desativar">
                                <mat-icon class="pointer">delete</mat-icon>
                            </a>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsShared; sticky: true"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumnsShared;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element">
                </tr>
                <tr mat-row *matRowDef="let row1; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>