<mat-card class="mat-card-title-events">
    <mat-card-title>
        <div class="div-mat-card-title">
            <div class="mr-auto">Eventos</div>
            <button mat-raised-button (click)="toEventCreate()" color=primary>
                Novo Evento
            </button>
        </div>
    </mat-card-title>
</mat-card>



<div class="grid">
    <div class="grid-item">
        <!-- TABLE DE EVENTOS EXCLUSIVOS -->
       <app-event-exclusive></app-event-exclusive>
    </div>


    <div class="grid-item">
        <!-- TABLE DE EVENTOS COMPARTILHADOS -->
        <app-event-shared></app-event-shared>
    </div>
</div>