form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.error {
    color: red;
    font-size: 0.8rem;
}


.div-mat-card-title {
    display: flex;
  }
  
  .mr-auto{
    margin-right: auto;
  }