
.footer{
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
}

.footer .text-footer{
    font-size: 60%;
}

.footer .text-footer i{
    font-size: 100%; 
}
