<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <!-- <a mat-list-item routerLink="/home">
                <mat-icon>home</mat-icon>
                Home
            </a> -->
            <a mat-list-item routerLink="/home/event">
                <mat-icon>event_available</mat-icon>Eventos
            </a>
            <a mat-list-item routerLink="/home/user">
                <mat-icon>people_alt</mat-icon>Usuários
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="conteiner">
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>